*.swp
target/
**/*.rs.bk
.DS_Store
*.pdb
exercises/clippy/Cargo.toml
exercises/clippy/Cargo.lock
rust-project.json
.idea
.vscode
*.iml
*.o

.all-contributorsrc

.editorconfig

.github/workflows/rust.yml

.gitpod.yml

.replit

AUTHORS.md

Cargo.lock

Cargo.toml

CHANGELOG.md

CONTRIBUTING.md

info.toml

install.ps1

install.sh

LICENSE

README.md

src/exercise.rs

src/main.rs

src/project.rs

src/run.rs

src/ui.rs

src/verify.rs

temp_12452_ThreadId1.exe

temp_22448_ThreadId1.exe

temp_22536_ThreadId1.exe

tests/fixture/failure/compFailure.rs

tests/fixture/failure/compNoExercise.rs

tests/fixture/failure/testFailure.rs

tests/fixture/failure/testNotPassed.rs

tests/fixture/state/finished_exercise.rs

tests/fixture/state/pending_exercise.rs

tests/fixture/state/pending_test_exercise.rs

tests/fixture/success/compSuccess.rs

tests/fixture/success/testSuccess.rs

tests/integration_tests.rs
